h1 {
font-size: 48px;
font-family: Arial;
color: black;
background-color: yellow
}	
h2 {
font-size: 36px;
font-family: Arial;
color: black;
background-color: gold;
font-variant: small-caps
}
p {
font: 100%;
font-family: Helvetica;
}
blockquote {
font: 120% cursive;
background-color: #FFFACD
}